# Environnements
.env
.venv/
__pycache__/
eeg-venv/

# Poetry
poetry.lock

# Heavy folder
logs/
checkpoints/
results/
wandb/
tensorboard/

# Systems
.DS_Store

# notebooks
*.ipynb

# Images
*.jpg
*.jpeg
*.pngeeg-venv/

.gitattibutes
.gitmodules

# Fichiers debug
debug_*
fix_*data/
